@use 'variables' as vars;

html,
body {
  font-family: vars.$font-family-primary !important;

  // Default white background with dark text
  background-color: vars.$white !important;
  color: vars.$text-on-light !important;

  height: 100%;
  margin: 0;
}
