<section class="mx-auto max-w-6xl p-6">
  <h1 class="text-3xl font-bold" [innerHTML]="pageContent.title">Hello Tailwind</h1>
  <h2 class="text-2xl font-bold mt-6" [innerHTML]="pageContent.subtitle"></h2>
</section>

<section *ngFor="let content of pageContent.content">
  <div *ngIf="content.type === 'paragraph'" class="mx-auto max-w-6xl mt-4">
    <h3 *ngIf="content.heading" [innerHTML]="content.heading"></h3>
    <p class="text-gray-800" [innerHTML]="content.content"></p>
  </div>
</section>
<section *ngFor="let content of pageContent.content">
  <div *ngIf="content.type === 'list'" class="mx-auto max-w-6xl mt-4">
    <h3 *ngIf="content.heading" [innerHTML]="content.heading"></h3>
    <ul class="list-disc list-inside text-gray-800">
      <li *ngFor="let item of content.content" [innerHTML]="item"></li>
    </ul>
  </div>
</section>
